.hourly {
    display: flex;
    height: 120%;
}

.hourly_carousel {
    display: flex;
    left: 10px;
    overflow: hidden;
    gap: 3rem;

}

.hourly_cards {
    width: 100%;
}

a {
    text-align: center;
    line-height: 250px;
}

button {
    padding: 10px;
}